{{ define "title" -}}
{{ .Site.Params.site }} - Find local shops easily
{{- end }}
{{ define "heading" -}}
{{ .Site.Params.site }} - Find local shops easily
{{- end }}
{{ define "main" }}
{{ .Content }}
<section>
  <blockquote>
    <img alt="Quote" src="/img/icon-quote.svg" width="80" height="80">
    <br>
    "Quasi the Yellow Pages in modern"
    <footer>
      <i>- Profpatsch, Hacker</i>
    </footer>
  </blockquote>
</section>
<h2>Choose your country</h2>
<object data="/svg/map.svg" type="image/svg+xml" id="world"></object>
<script>
const world = document.getElementById("world");
world.addEventListener('load', function() {
  const doc = world.getSVGDocument();
  const svgCountries = doc.querySelectorAll('[cc]');
  const countries = ['at', 'au', 'ca', 'ch', 'de', 'nz', 'us'];
  svgCountries.forEach(function(country) {
    const cc = country.getAttribute('cc');
    if (countries.indexOf(cc) !== -1) {
      // Fill with primary color and jump to respective, supported subdomain
      country.style.fill = '#f57c00';
      country.addEventListener('click', function (event) {
        window.location = 'https://' + cc + '.shoogle.net';
      });
    }
    // Set flag cursor
    country.addEventListener('mouseover', function (event) {
      country.style.cursor = 'url(/svg/flags/' + cc + '.svg), auto';
    });
  });
});
</script>
<h3>Australia and Oceania</h3>
<ul class="columns">
  <li><a href="https://au.shoogle.net">Australia</a></li>
  <li><a href="https://nz.shoogle.net">New Zealand</a></li>
</ul>
<h3>Europe</h3>
<ul class="columns">
  <li><a href="https://at.shoogle.net">Austria</a></li>
  <li><a href="https://de.shoogle.net">Germany</a></li>
  <li><a href="https://ch.shoogle.net">Switzerland</a></li>
</ul>
<h3>North America</h3>
<ul class="columns">
  <li><a href="https://ca.shoogle.net">Canada</a></li>
  <li><a href="https://us.shoogle.net">United States of America</a></li>
</ul>
{{ end }}
