{{ define "title" -}}
{{ .Site.Params.site }} - Find local shops easily
{{- end }}
{{ define "heading" -}}
{{ .Site.Params.site }} - Find local shops easily
{{- end }}
{{ define "main" }}
{{ .Content }}
<section>
  <blockquote>
    <img alt="Quote icon" src="/img/icon-quote.svg" width="80" height="80">
    <br>
    "Quasi the Yellow Pages in modern"
    <footer>
      <i>- Profpatsch, Hacker</i>
    </footer>
  </blockquote>
</section>
<h2>Choose a country</h2>
<object data="/svg/map.svg" type="image/svg+xml" id="world" aria-label="World map"></object>
<script>
const world = document.getElementById("world");
world.addEventListener('load', function() {
  const doc = world.getSVGDocument();
  const svgCountries = doc.querySelectorAll('[cc]');
  const countries = ['ar', 'at', 'au', 'bf', 'bj', 'bo', 'ca', 'cd', 'cg', 'ch', 'ci', 'cl', 'co', 'cr', 'cu', 'de', 'do', 'ec', 'es', 'fr', 'ga', 'gb', 'gh', 'gn', 'gt', 'hn', 'ie', 'in', 'ke', 'lr', 'ml', 'mx', 'ne', 'ni', 'ng', 'nz', 'pa', 'pe', 'ph', 'pk', 'py', 'sl', 'sn', 'sv', 'tg', 'us', 'uy', 've', 'za'];
  svgCountries.forEach(function(country) {
    const cc = country.getAttribute('cc');
    if (countries.indexOf(cc) !== -1) {
      // Fill with primary color and jump to respective, supported subdomain
      country.style.fill = '#f57c00';
      country.addEventListener('click', function (event) {
        window.location = 'https://' + cc + '.shoogle.net';
      });
    }
    // Set flag cursor
    country.addEventListener('mouseover', function (event) {
      country.style.cursor = 'url(/svg/flags/' + cc + '.svg), auto';
    });
  });
});
</script>
<h3>Africa</h3>
<ul class="columns">
  <li><a href="https://bj.shoogle.net">Benin</a></li>
  <li><a href="https://bf.shoogle.net">Burkina Faso</a></li>
  <li><a href="https://cd.shoogle.net">Congo</a></li>
  <li><a href="https://cg.shoogle.net">Congo-Brazzaville</a></li>
  <li><a href="https://ga.shoogle.net">Gabon</a></li>
  <li><a href="https://gh.shoogle.net">Ghana</a></li>
  <li><a href="https://gn.shoogle.net">Guinea</a></li>
  <li><a href="https://ci.shoogle.net">Ivory Coast</a></li>
  <li><a href="https://ke.shoogle.net">Kenya</a></li>
  <li><a href="https://lr.shoogle.net">Liberia</a></li>
  <li><a href="https://ml.shoogle.net">Mali</a></li>
  <li><a href="https://ne.shoogle.net">Niger</a></li>
  <li><a href="https://ng.shoogle.net">Nigeria</a></li>
  <li><a href="https://sn.shoogle.net">Senegal</a></li>
  <li><a href="https://sl.shoogle.net">Sierra Leone</a></li>
  <li><a href="https://za.shoogle.net">South Africa</a></li>
  <li><a href="https://tg.shoogle.net">Togo</a></li>
</ul>
<h3>Asia</h3>
<ul class="columns">
  <li><a href="https://in.shoogle.net">India</a></li>
  <li><a href="https://pk.shoogle.net">Pakistan</a></li>
  <li><a href="https://ph.shoogle.net">Philippines</a></li>
</ul>
<h3>Australia and Oceania</h3>
<ul class="columns">
  <li><a href="https://au.shoogle.net">Australia</a></li>
  <li><a href="https://nz.shoogle.net">New Zealand</a></li>
</ul>
<h3>Central America</h3>
<ul class="columns">
  <li><a href="https://cr.shoogle.net">Costa Rica</a></li>
  <li><a href="https://cu.shoogle.net">Cuba</a></li>
  <li><a href="https://sv.shoogle.net">El Salvador</a></li>
  <li><a href="https://do.shoogle.net">Dominican Republic</a></li>
  <li><a href="https://hn.shoogle.net">Honduras</a></li>
  <li><a href="https://gt.shoogle.net">Guatemala</a></li>
  <li><a href="https://ni.shoogle.net">Nicaragua</a></li>
  <li><a href="https://pa.shoogle.net">Panama</a></li>
</ul>
<h3>Europe</h3>
<ul class="columns">
  <li><a href="https://at.shoogle.net">Austria</a></li>
  <li><a href="https://fr.shoogle.net">France</a></li>
  <li><a href="https://de.shoogle.net">Germany</a></li>
  <li><a href="https://gb.shoogle.net">Great Britain</a></li>
  <li><a href="https://ie.shoogle.net">Ireland and Northern Ireland</a></li>
  <li><a href="https://mc.shoogle.net">Monaco</a></li>
  <li><a href="https://es.shoogle.net">Spain</a></li>
  <li><a href="https://ch.shoogle.net">Switzerland</a></li>
</ul>
<h3>North America</h3>
<ul class="columns">
  <li><a href="https://ca.shoogle.net">Canada</a></li>
  <li><a href="https://mx.shoogle.net">Mexico</a></li>
  <li><a href="https://us.shoogle.net">United States of America</a></li>
</ul>
<h3>South America</h3>
<ul class="columns">
  <li><a href="https://ar.shoogle.net">Argentina</a></li>
  <li><a href="https://bo.shoogle.net">Bolivia</a></li>
  <li><a href="https://cl.shoogle.net">Chile</a></li>
  <li><a href="https://co.shoogle.net">Colombia</a></li>
  <li><a href="https://ec.shoogle.net">Ecuador</a></li>
  <li><a href="https://py.shoogle.net">Paraguay</a></li>
  <li><a href="https://pe.shoogle.net">Peru</a></li>
  <li><a href="https://uy.shoogle.net">Uruguay</a></li>
  <li><a href="https://ve.shoogle.net">Venezuela</a></li>
</ul>
{{ end }}
